<md-content>
  <md-card>
    <h1>Oyuncu Ara</h1>
    <md-input-container>
      <label for="">Kullanıcı Adı</label>
      <input type="text" ng-model="Username" />
    </md-input-container>
    <md-button class="md-raised" ng-click="Search()"> Bul </md-button>
    <div ng-repeat="user in UsersFound">
      <div style="padding: 4px" layout="column">
        <div layout="row">
          <img ng-src="{{user.ProfileImage}}" alt="" class="ProfileImage" />
          <b style="font-size: 22px; padding: 10px">{{user.Username}}</b>
        </div>
        <md-button md-colors="{'background':'red'}" ng-click="SendInvite(user)">
          Davet Gönder
        </md-button>
      </div>
    </div>
  </md-card>
  <md-card>
    <h1>Gelen Davetler</h1>
    <div
      layout-align="space-between start"
      class="InviteBox"
      layout="row"
      ng-repeat="invite in InvitesToMe"
    >
      <div class="InviteBoxContent">
        <b>{{invite.val.FromUsername}}</b> |
        <b>{{invite.val.Created|date}}</b>
      </div>
      <div>
        <md-button
          md-colors="{'background':'green'}"
          ng-click="AcceptInvite(invite)"
          >Kabul</md-button
        >
        <md-button
          ng-click="RejectInvite(invite)"
          md-colors="{'background':'red'}"
          >Red</md-button
        >
      </div>
    </div>
  </md-card>
  <md-card>
    <h1>Giden Davetler</h1>
    <div class="InviteBox" ng-repeat="invite in InvitesFromMe">
      <div
        layout-align="space-between start"
        layout="row"
        class="InviteBoxContent"
      >
        <b>{{invite.val.ToUsername}}</b> | <b>{{invite.val.Created|date}}</b> |
        <b
          style="padding: 2px; border-radius: 4px"
          md-colors="{'background':'grey-900'}"
          >{{invite.val.Status==0?"Beklemede":(invite.val.Status==2?"Ret
          Edildi":"")}}</b
        >
      </div>
    </div>
  </md-card>
</md-content>
